{% extends 'base.html' %}

{% block title %}
    Мероприятия
{% endblock %}

{% block body %}
<body style="background-color: #1C1C1C;">
<div style="display: flex; align-items: center; margin-left: 50px; margin-bottom: 20px;">
    <h1 style="margin-right: 20px; color: #FFFFFF">Мероприятия</h1>
    <a href="/add_event" class="btn" style="padding: 10px 20px; background-color: #1F1F1F; color: #FFFFFF; border: 1px solid #FFFFFF; border-radius: 15px; margin-left: 700px;">
        Новое мероприятие
    </a>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% for el in events %}
        <div class="col mt-5 mb-5">
          <div class="card shadow-sm" style="width: 340px; margin: auto; border-radius: 15px; display: flex; flex-direction: column; justify-content: space-between; height: 100%; background-color: #2E2E2E">
            <img src="https://sun9-66.userapi.com/impg/wd90FzWxd1oSbFm1Rzm0TF4yrG98T1yE6ahKQQ/eUudc9ak-38.jpg?size=1000x1000&quality=95&sign=0b8a9bb1dd07c0a3b6e85e38e8a2f643&type=album"
                 class="card-img-top"
                 alt="Event Thumbnail"
                 style="width: 100%; height: 160px; border-radius: 15px; object-fit: cover;">
            <div class="card-body" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
              <p class="card-text" style="color: #FFFFFF; font-weight: bold; font-size: 1.5em;">{{ el.name }}</p>
              <p class="card-text" style="color: #FFFFFF;">{{ el.category }}</p>
               <div class="d-flex justify-content-between align-items-center" style="margin-top: auto;">
                <small style="color: #FFFFFF; font-size: 0.8em;">{{ el.status }}</small>
                <div style="display: flex; align-items: center;">
                  <small style="color: #FFFFFF; font-size: 0.8em; margin-right: 5px;">{{ el.start_datetime }}</small>
                  <i class="fas fa-clock" style="color: #FFFFFF;"></i>
                </div>
                <div class="btn-group">
                  <a href="/event/{{ el.event_id }}" class="btn btn-sm btn-outline-secondary rounded-circle" style="width: 45px; height: 45px; display: flex; align-items: center; justify-content: center; margin-top: -60px;">
                    <i class="fas fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}